@import "tailwindcss";

@layer base {
    :root {
        --color-text: #191919;
        --color-surface: #ced0ce;
        --color-accent: #F4511C;
        --color-bg: #ededed;
        --color-secondary: #ced0ce;
        --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, monospace;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
}

@layer components {
    .SwissGrid {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    @media (min-width: 768px) {
        .SwissGrid {
            grid-template-columns: 80px 1fr;
        }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}